[user]
    name  = Yuya Kakui
    email = mail@kakuiyuya.com
[color]
    status      = auto
    diff        = auto
    branch      = auto
    grep        = auto
    interactive = auto
[alias]
    st = status
    ci = commit -a
    co = checkout
    # branch releation
    br = branch
    ba = branch -a
    # tree show of log
    log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
    log-all   = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
    # diff relation
    dm = diff master
    dw = diff --color-words
    dc = diff --cached
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    # mergeの際にconflictが起きたファイルを編集
    edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
    # mergeの際にconflictが起きたファイルをadd
    add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
[push]
    default = tracking
[core]
    excludesfile = ~/.gitignore
    autocrlf     = input
